*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b303a;
}
.container{
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: -1px 0px 20px 2px #3a4b7a14;
    background-color:  #7c7c7c33;
    padding: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    padding: 12px;
    border-radius: 6px;
    width: 270px;
    border: none;
    margin: 30px auto 10px auto;
    display: block;
    font-size: 17px;
}
button {
    border: none;
    border-radius: 0.5rem;
    padding: 12px;
    background-color: #5b74929d;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}
button:hover{
    cursor: pointer;
}
.qrcode{
    width: 260px;
    height: 260px;
    background-color: #2b303a;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
}
.alertbox{
    width: 100%;
    background-color: white;
    color: #2b303a;
    border-radius: 5px 5px 5px 5px;
    margin: 20px 0px;
    padding: 15px 0px;
    position: relative;
    display: none;
}
.alertbox:before{
    content: "↙️";
    transition: all 0.3s ease;
    position: absolute;
    top: -44%;
    left: 46%;
    width: 20px;
    height: 20px;
    z-index: -1;
    font-size: 20px;
}
.down{
    margin-top: 30px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}